.profile {
  display: flex;
  justify-content: flex-start;
}

.profile__list {
  padding-top: 20px;
}

.profile__item {
  font-size: 20px;
  color: blueviolet;
  margin-bottom: 20px;
}

.profile__item span {
  color: cadetblue;
}